
.ffb-add-new-feature-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: rgba(0,0,0,0.5);
}
.ffb-add-new-feature-modal .ffb-add-new-feature-modal-content {
    background: #fff;
    margin-top: 100px;
    border-radius: 4px;
    width: 100%;
    max-width: 500px;
    padding: 20px 30px 30px 30px;
}
.ffb-add-new-feature-modal .ffb-add-new-feature-modal-content h1 {
    padding: 0;
    font-size: 22px;
    margin-bottom: 20px;
}
.ffb-add-new-feature-modal .ffb-add-new-feature-modal-content form .input-group + .input-group {
    margin-top: 15px;
}
.ffb-add-new-feature-modal .ffb-add-new-feature-modal-content form .input-group input {
    display: block;
    width: 100%;
    border: 1px solid #eee;
    padding: 3px 13px;
}
.ffb-add-new-feature-modal .ffb-add-new-feature-modal-content form .input-group label {
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
}
.ffb-add-new-feature-modal .ffb-add-new-feature-modal-content form .input-group .ffb-addnewfeature-submit {
    background: #2771b1;
    border: none;
    color: #fff;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
}
.ffb-add-new-feature-modal .ffb-add-new-feature-modal-content form .description {
    font-weight: 300;
    display: block;
    color: #aaa;
    font-size: 12px;
    font-style: italic;
    margin: 3px 0 0 0;
}
.ffb-add-new-feature-modal .ffb-add-new-feature-modal-content form .description strong {
    color: #000;
}


.addnew-features-list {
  display: inline-block;
  background: #2771b1;
  color: #fff;
  padding: 6px 15px;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
}


.ffb-features-list h1 a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}
.ffb-features-list h1 {
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    margin: 0 0 2px 0;
    display: inline-block;
}
.ffb-features-list .actions {
    opacity: 0;
    visibility: hidden;
}
.ffb-featured-lists table tbody > tr:hover .actions {
    opacity: 1;
    visibility: visible;
}
.ffb-featured-lists table tbody td {
    border-bottom: 1px solid #eee;
    padding-bottom: 4px;
}


.ffb-featured-lists[data-v-73627687] {
    margin-top: 30px;
    background: #fff;
    border-radius: 4px;
    padding: 10px 15px;
}
.ffb-featured-lists table[data-v-73627687] {
    width: 100%;
}


#fluent-features-board-backend-app header {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 4px;
  padding: 8px 15px;
}
#fluent-features-board-backend-app header nav {
  margin-left: 20px;
}
#fluent-features-board-backend-app header nav ul li,
#fluent-features-board-backend-app header nav ul {
  margin: 0;
}
#fluent-features-board-backend-app header nav ul li a {
  background: #eee;
  display: inline-block;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 4px;
  font-weight: 600;
  color: #000;
  border-bottom: 2px solid;
}

