@keyframes ffr_gradientbg {
    0% {
        background-position: 0% 50% !important;
    }
    50% {
        background-position: 100% 50% !important;
    }
    100% {
        background-position: 0% 50% !important;
    }
}

@-webkit-keyframes ffr_gradientbg {
    0% {
        background-position: 0% 50% !important;
    }
    50% {
        background-position: 100% 50% !important;
    }
    100% {
        background-position: 0% 50% !important;
    }
}

@-moz-keyframes ffr_gradientbg {
    0% {
        background-position: 0% 50% !important;
    }
    50% {
        background-position: 100% 50% !important;
    }
    100% {
        background-position: 0% 50% !important;
    }
}

#toplevel_page_fluent-features-boards>a {
    background: linear-gradient(45deg, #ba42ec, #8f42ec, #0073aa, #ba42ec, #8f42ec) !important;
    background-size: 600% 600% !important;
    -webkit-animation: ffr_gradientbg 10s infinite;
    -moz-animation: ffr_gradientbg 10s infinite;
    animation: ffr_gradientbg 10s infinite;
}

#toplevel_page_fluent-features-boards>a:hover {
    color: #ffffff;
}