.ffb-shortcode-output {
    width: 100%;
    max-width: 450px !important;
    background: #fff;
    border-radius: 4px;
    padding: 20px 30px 20px 30px;
    box-shadow: 0 0 30px rgb(0 0 0 / 10%);
}

.ffb-shortcode-output h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 6px 0;
}

.ffb-shortcode-output .tags {
    font-size: 13px;
    display: block;
    text-transform: inherit;
    margin-bottom: 10px;
}

.ffb-shortcode-output p {
    font-size: 16px;
}

.fluent-features-request-lists-wrapper {
    background: #fff;
}

.fluent-features-request-lists-wrapper #main {
    padding: 0;
}

.fluent-features-request-lists-wrapper #vue-frontend-app {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}